*{
    font-family: Roboto,sans-serif;
    margin: 0;
}

header{
    background-color: #1F2937 ;
    padding: 10px 300px;
}
.nav{
    display: flex;
    font-size: 24px;
    color: #F9F1F8;
    justify-content: space-between;

}
.nav ul {
 display: flex;
 margin: 0;
 padding: 0;
 gap: 25px;
 list-style-type: NONE;

}
.nav .logo{
    color: #f9faf8;
    font-weight: bold;
}
.hero{
    font-weight: 900px;
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    padding: 150px 10px;
    justify-content: space-between;

}
.hero .text{
    font-size: 18px;
    color: #e5e7eb;
    max-width: 600px;
}
.hero img{
    width: 600px;
    height: 200px;
    margin-left: auto;

}
.hero button{
    background-color: #2d74e6;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    padding: 6px 35px;  
    font-weight: 700;
    margin-top: 12px;
    border: none;

}







.content .one h1{
    padding:70px 0px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    font-size: 40px;

}
.content .one .bigbox{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0px;

}
.content .one .bigbox .box{
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    justify-content: center;
    
}

.content .one .bigbox div{
    text-align: center;
    max-width: 150px;
    
}



.content .two{
    background-color: #e5e7eb;
    padding: 90px 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1F2937;
    

    
}

.content .two .quote P{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin: 0;
    width: 700px;
    
}
.content .two .author{
    align-self: flex-end;
    font-weight: 700;
    font-size: x-large;
    padding-right: 200px;

}





.content .three{

    display: flex;
    justify-content: center;
    
}
.content .three .box{
    background-color: #3882F6;
    margin: 100;
    border-radius: 10px;
    display: flex;
    padding: 2% 6%;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    gap: 100px;

}


.content .three .b{
    background-color: transparent;
    color: white;
    border: 2px solid white;
    width:150 ;
    height: 50;
    border-radius: 8px;
    font-size: 24px;
    cursor: pointer;
    
}




footer{
    background-color: #1F2937;
    text-align: center;
    padding: 20px 0px;
    color: white;
}